@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css");

.icon.bi.bi-moon-stars-fill {
    color: #0000ff;
}
.icon.bi.bi-sun {
    color: #ffd43b;
    font-size: 1.3em;
}
#localnavbarplus-darklight:focus,
#localnavbarplus-darklight a:focus,
#localnavbarplus-darklight .icon:focus {
    background-color: transparent;
    box-shadow: none;
}
